.campaign-page-wrapper {
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.campaign-content-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.campaign-creator-wrapper {
  text-align: left;
  margin-left: 16px;
  border-bottom: 1px solid lightgrey;
  width: 90%;
}

.whole-wrapper {
  display: flex;
}

.campaign-info {
  /* display: flex; */
  width: 70%;
}

.donate-info-web {
  display: flex;
}

.campaign-info-bold {
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.campaign-page-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  height: fit-content;
  box-shadow: 0px 5px 10px 0px rgba(106, 106, 106, 0.5);
  margin-top: 16px;
position: sticky;
top: 16px;
}

.campaign-page-info-hideable img{
width: 40px;
}

.campaign-last-donors-list {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.donor-address {
  margin: 0;
}

.donor-name{
  margin: 0;
  font-size: 12px;
}

.campaign-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.campaign-info-name {
  text-align: left;
  padding-left: 16px;
}

.campaign-image {
  height: 50vh;
  width: 90%;
  margin: 16px 16px 32px 16px;
  border-radius: 5px 5px 5px 5px;
}

.campaign-image img {
  height: 100%;
  width: 100%;
  border-radius: 49px 8px 8px 8px;
}

/* .campaign-image-wrapper {
  display: flex;
  justify-content: space-between;
} */

.data-passed {
  margin: 16px;
  text-align: left;
}

.info-wrapper {
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.whole-input-wrapper {
  display: flex;
  width: 40%;
}

.input-wrapper {
  border: 2px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 16px;
  border-radius: 40px;
  font-size: large;
}

.input-text {
  padding: 8px;
}

.amount-input {
  color: black;
  font-size: 1.25rem;
  line-height: 1;
  border-style: none;
  outline: none;
  padding: 4px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 40px;
  padding: 8px;
  width: 100%;
}

.max-amount-button {
  background-color: #359eff;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  outline: none;
}

.buttons-wrapper {
  display: flex;
  width: 60%;
}

.donate {
  width: 100%;
  height: 50px;
  outline: none;
  background: #359eff;
  transition: 0.2s;
  color: white;
  font-size: 22px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: none;
  margin: 12px;
}

.donate:hover {
  /* background-color: #2f2f2f; */
  background-color: #019863;
}

.donate-info-phone {
  display: none;
}

.withdraw {
  width: 100%;
  height: 50px;
  outline: none;
  background: #757e88;
  transition: 0.2s;
  color: white;
  font-size: 22px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: none;
  margin: 12px;
}

.withdraw:hover {
  background-color: #da2727;
}

.breadcrumbs a {
  display: flex;
  width: fit-content;
  margin: 64px 16px 16px 16px;
  border: solid 1px black;
  border-radius: 12px;
  color: black;
  text-decoration: none;
  padding: 4px;
}


@media only screen and (max-width: 576px) {
  .info-wrapper {
    width: 100%;
    min-width: 0;
  }

  .campaign-info {
    width: 100%;
  }

  .campaign-page-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .campaign-page-info-hideable { 
    width: 100%;
  }

  .campaign-content-wrapper {
    width: 100%;
  }

  .campaign-last-donors {
    display: none;
  }

  .campaign-last-donors-list {
    display: none;
  }

  .campaign-info-non-bold {
    margin: 0;
    word-break: break-all;
  }

  .whole-wrapper {
    display: flex;
    flex-direction: column;
  }

  .campaign-image {
    height: 300px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    margin: 0;
  }

  .campaign-page-info {
    /* position: sticky;
    bottom: 0;
    background-color: white; */
    box-shadow: none;
    border: none;
  }

  .campaign-image-wrapper {
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .campaign-image img {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .donate-info-web {
    display: none;
  }

  .donate-info-phone {
    display: flex;
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: white;
    align-items: center;
  }

  .whole-input-wrapper{
    width: 50%;
  }

  .input-wrapper {
    width: 100%;
    margin: 8px;
  }

  .amount-input {
    width: 100%;
  }

  .buttons-wrapper {
    width: 100%;
  }
}
