.footer {
    border-top: 1px solid lightgrey;
    padding-bottom: 32px;

    width: 80%;
    background-color: white;
}

.footer-logo-wrapper {
    display: flex;
    width: 100%;
}

.footer-logo {
    padding: 16px;
    color: black;
    height: 48px;
}

.footer-socials {
    display: flex;
    padding-left: 32px;

}

.social-logo {
    height: 25px;
    width: 25px;
    margin-right: 24px;
}

.social-logo a{
    padding: 0;
}

.social-logo a img {
    height: 100%;
    width: 100%;
    padding: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    align-items: center;
}

.footer-container a {
    text-decoration: none;
    color: black;
}

.subpages-wrapper a{
    padding: 0 16px 0 16px;
}

.footer-bottom {
    margin-top: 16px;
}

@media only screen and (max-width: 576px) {

    .footer-container {
        flex-direction: column-reverse
    }
    .subpages-wrapper {
        display: flex;
        flex-wrap: wrap;
    justify-content: center;
    }

    .subpages-wrapper a{
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
    }

}