.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #9147ff;
  color: white;
  padding: 0 20px;
  margin: 10px;
}

.button:hover {
  background-color: #772ce8;
}

.browse-header {
  padding-left: 48px;
  text-align: left;
}

.cards-header {
  /* padding-left: 32px; */
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  justify-content: space-evenly;
  background-color: #faf9f6;
  min-height: 500px;
}

.card-wrapper a {
  text-decoration: none;
}

.campaign-card {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 4px;
  overflow-y: scroll;
  text-decoration: none;
  color: black;
  background-color: #faf9f6;
  border-radius: 25px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 16px;
  transition: transform 0.2s;
}

.campaign-card:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.card-description {
  word-wrap: break-word;
}

.card-image {
  border-radius: 24px;
  height: 50%;
}

.card-image img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.progressbar {
  width: 75%;
}

.searchbar-wrapper {
  display: inline-block;
}

.searchbar-input-wrapper {
  display: flex;
  padding: 8px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  width: fit-content;
}

.searchbar-input {
  border-radius: 24px;
  border: none;
  font-size: large;
}

.searchbar-input:focus-visible {
  outline: none;
}

.search-results {
  visibility: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  font-weight: 500;
}
