#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  text-align: center;
  width: 80%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #9147ff;
  color: white;
  padding: 0 20px;
  margin: 10px;
}

.button:hover {
  background-color: #772ce8;
}

.browse-header {
  padding-left: 48px;
  text-align: left;
}

.cards-p {
  text-align: left;
  color: dimgray;
  font-size: 18px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  justify-content: space-evenly;
  min-height: 500px;
}

.card-wrapper a {
  text-decoration: none;
}

.campaign-card {
  width: 300px;
  height: 350px;
  margin: 4px;
  text-decoration: none;
  text-align: left;
  color: black;
  margin: 16px;
  transition: transform 0.2s;
}

.campaign-name {
  margin: 0;
  padding-top: 8px;
  font-weight: 600;
}

.campaign-creator {
  margin: 0;
  color: dimgray;
}

.campaign-card:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.card-description {
  word-wrap: break-word;
  margin: 0;
  color: dimgray;
}

.card-image {
  border-radius: 24px;
  height: 65%;
}

.card-image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 12px;
}

.progressbar {
  width: 100%;
}

.searchbar-wrapper {
  display: flex;
  margin-top: 16px;
  padding-left: 48px;
  padding-right: 48px;
}

.searchbar-input-wrapper {
  display: flex;
  padding: 8px;
  border-radius: 25px;
  background-color: whitesmoke;
  width: 100%;
}

.searchbar-input {
  border-radius: 24px;
  border: none;
  font-size: x-large;
  background-color: whitesmoke;
  width: 100%;
  margin-left: 16px;
}

.searchbar-input:focus-visible {
  outline: none;
}

.search-results {
  visibility: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  font-weight: 500;
}

@media only screen and (max-width: 576px) { 
  .browse-header {
    padding-left: 0;
  }

  .searchbar-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
