.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #9147ff;
  color: white;
  padding: 0 20px;
  margin: 10px;
}

button:hover {
  background-color: #772ce8;
}

.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.card {
  width: 500px;
  border: 1px solid black;
  padding: 8px;
  margin: 4px;
}

.donate {
  display: inline-block;
  border: 2px solid green;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: white;
  color: black;
  padding: 0 20px;
  margin: 10px;
}

.donate:hover {
  background-color: aquamarine;
}

.withdraw {
  display: inline-block;
  border: 2px solid red;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #ffdfd3;
  color: black;
  padding: 0 20px;
  margin: 10px;
}

.withdraw:hover {
  background-color: #fdb5b5;
}
