body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #9147ff;
  color: white;
  padding: 0 20px;
  margin: 10px;
}

button:hover {
  background-color: #772ce8;
}

.donate {
  display: inline-block;
  border: 2px solid green;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: white;
  color: black;
  padding: 0 20px;
  margin: 10px;
}

.donate:hover {
  background-color: aquamarine;
}

.withdraw {
  display: inline-block;
  border: 2px solid red;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #FFDFD3;
  color: black;
  padding: 0 20px;
  margin: 10px;
}

.withdraw:hover {
  background-color: #FDB5B5;
}
